[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = http://github.com/nvie/vim-pep8
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = http://github.com/tpope/vim-repeat
